
body {
    font-family: 'Fredoka', 'Arial', sans-serif;
    background-color: #F3EDE1;
    color: #5D4037;
    margin: 0;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.contenedor {
    background-color: #D7CCC8; 
    border-radius: 60px; 
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px; 
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 40px;
    color: #4E342E; 
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #A1887F;
    border-radius: 60px; /* Bordes redondeados */
    background-color: #EFEBE9; /* Fondo del input en tono café claro */
    color: #5D4037;
    box-sizing: border-box;
}

button{
    background-color: #8D6E63; /* Fondo del botón en tono café oscuro */
    color: white;
    border: none;
    border-radius: 55px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #795548; /* Cambio de color al pasar el mouse */
}

footer{
    margin-top: 20px;
    font-size: 12px;
    color: #8D6E63; /* Color del texto del pie de página */
}

section:nth-of-type(3) {
    margin-top: 80px; /* Ajusta este valor para cambiar el espacio */
}